.features__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 0 59px;
}

@media screen and (min-width: 1280px) {
  .features__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 80px;
  }
}
