.hero__text {
  display: inline-block;
  min-width: 267px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  color: #FFFFFF;
  margin: 0 0 63px;

}
