.hero__text {
  display: inline-block;
  min-width: 267px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  color: #FFFFFF;
  margin: 0 0 63px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero__text {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 43px;
  }
}
