.gallery__wrapper {
  box-sizing: border-box;
  padding-bottom: 15px;

  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.gallery__wrapper::-webkit-scrollbar {
  height: 4px;
  background-color:  #CECECE;
}

.gallery__wrapper::-webkit-scrollbar-thumb {
  height: 4px;
  width: 53px;
  background-color: #FFBB01;
}

@media only screen and (min-width: 450px) {
  .gallery__wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 735px) {
  .gallery__wrapper {
    overflow-y: hidden;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    padding-bottom: 92px;
  }
}
