.portfolio__subtitle {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 151px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 27px;
}

@media only screen and (min-width: 1024px) {
  .portfolio__subtitle {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 28px;
    max-width: 170px;
  }
}
