.footer__title {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 60px;
}

@media screen and (min-width: 735px) {
  .footer__title {
    text-align: left;
    margin-left: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 36px;
    line-height: 42px;
    margin-left: 0;
    margin-bottom: 90px;
  }
}
