@media screen and (min-width: 450px) {
  .info-box__card {
    margin-right: 50px;
  }

  .info-box__card:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .info-box__card {
    margin-right: 120px;
  }
}
