.features-card__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 21px 0 0;
}

@media screen and (min-width: 1280px) {
  .features-card__title {
    font-size: 24px;
    margin-top: 15px;
  }
}
