.footer__form {
  margin: 0 auto 50px;
}

@media screen and (min-width: 735px) {
  .footer__form {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__form {
    margin-left: 27px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1268px) {
  .footer__form {
    margin-left: 0;
    /* margin-right: 96px; */
  }
}
