.social-box__item {
  margin-bottom: 13px;
}

.social-box__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 450px) {
  .social-box__item {
    margin-right: 50px;
  }

  .social-box__item:last-child {
    margin-right: 0;
  }
}
