.header__container {
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding-top: 41px;
    padding-bottom: 41px;
  }
}
