.footer__confidential {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #949494;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  padding: 26px 0 0 0;
  display: flex;
  transition: 0.2s;
}

.footer__confidential:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 735px) {
  .footer__confidential {
    margin-top: auto;
    /* position: absolute; */
    /* bottom: 0; */
  }
}
