.footer {
  background-color: #1B2944;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media screen and (min-width: 735px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
}

@media screen and (min-width: 735px) {
  .footer {
    padding-bottom: 93px;
  }
}
