.hero__career {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */
  color: #FFBB01;
  margin: 0 0 4px;
}

@media screen and (min-width: 1280px) {
  .hero__career {
    font-size: 24px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 13px;
  }
}
