.social-box__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0 0 12px;
}

@media screen and (min-width: 1280px) {
  .social-box__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}
